site_name: Unsoundness Checker

repo_url: https://github.com/MatthewMckee4/unsoundness-checker

nav:
  - Home: index.md
  - Rules: rules.md
  - Categories: categories.md
  - Configuration: configuration.md

theme:
  name: material
  locale: en
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/weather-night
        name: Switch to dark mode

    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode

  features:
    - navigation.instant
    - navigation.footer
    - navigation.indexes
    - content.tabs.link
  icon:
    repo: fontawesome/brands/github

markdown_extensions:
  - admonition
  - pymdownx.details
  - toc:
      anchorlink: true
      anchorlink_class: "toclink"
  - pymdownx.snippets:
  - pymdownx.magiclink:
  - attr_list:
  - md_in_html:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite:
  - pymdownx.superfences:
  - markdown.extensions.attr_list:
  - pymdownx.keys:
  - pymdownx.tabbed:
      alternate_style: true

plugins:
  - search

extra_css:
  - stylesheets/extra.css
