name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v3

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: nightly
          override: true
          components: rustfmt, clippy

      - uses: pre-commit/action@v3.0.1

  cargo-test:
    runs-on: ${{ matrix.os }}
    strategy:
      max-parallel: 12
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v6

      - name: Update Rust toolchain
        run: rustup update

      - name: Run tests
        run: |
          cargo test
        env:
          UNSOUNDNESS_TEST_EXTERNAL: 1

  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.13

      - name: Install Dependencies
        run: |
          uv venv
          uv pip install -r docs/requirements.txt

      - name: Prepare Docs
        run: |
          uv run --no-project scripts/prepare_docs.py

      - name: Build docs
        run: uv run --no-project zensical build
