name: Release

on:
  push:
    branches:
      - main

jobs:
  publish-docs:
    runs-on: ubuntu-latest
    name: Docs builder and publisher

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - uses: astral-sh/setup-uv@d4b2f3b6ecc6e67c4457f6d3e41ec42d3d0fcb86 # v5.4.2
        with:
          python-version: 3.13

      - name: Install Dependencies
        run: |
          uv venv
          uv pip install -r docs/requirements.txt

      - name: Prepare Docs
        run: |
          uv run --no-project scripts/prepare_docs.py

      - name: Remove gitignores
        run: |
          find docs -name ".gitignore" -type f -delete

      - name: Build docs
        run: uv run --no-project zensical build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: site
          publish_branch: gh-pages
          keep_files: false
          force_orphan: true
